
body{
    --myblue : rgba(0, 118, 161, 0.843);
}

.hover-pointer:hover{
    cursor: pointer;
    box-shadow: 2px 8px 23px 4px var(--myblue);
    -webkit-box-shadow: 2px 8px 23px 4px var(--myblue);
    -moz-box-shadow: 2px 8px 23px 4px var(--myblue);
}