.img-back{
    background-image: url("background.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:20rem;
    width:50rem;
}
.spaced{
    letter-spacing: 20px;
}
.btn-gray{
    background-color: rgb(111, 111, 111);
    border: 2px solid rgb(87, 87, 87);
    box-shadow: 0px 5px 10px rgb(80, 80, 80);  
}
.btn-gray:hover{
    background-color: rgb(52, 52, 52);

    border: 2px solid rgb(67, 67, 67);

}